@import url("components/menu.css");
@import url("components/home.css");
@import url("components/about.css");
@import url("components/portfolio.css");
@import url("components/gallery.css");
@import url("components/contact.css");
@import url("components/lightbox.css");
@import url("components/footer.css");

html, body{
  margin:0px;
  padding:0px;
  width:100%;
  font-size:15px;
  font-family:century gothic;
}

div, p, h1, h2, h3, h4, h5, ul, li, a, span{
  margin:0px;
  padding:0px;
}
.clear{
  clear:both;
}

