html, body{
  margin:0px;
  padding:0px;
  width:100%;
  font-size:15px;
  font-family:century gothic;
}

div, p, h1, h2, h3, h4, h5, ul, li, a, span{
  margin:0px;
  padding:0px;
}
.clear{
  clear:both;
}
#conteneur-id{
  width:100%;
}

#conteneur-menu{

}
.menu{
  width:100%;
  background-color:white;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2);
  margin:auto;
  text-align:center;
  position:fixed;
  z-index:999;
}
.menu ul{
  width:100%;
  margin:auto;
  padding:15px 0px;
}
.menu li{
  display:inline-block;
  padding:5px;
}
.menu a{
  text-decoration:none;
  color:black;
  background-color:#DDD;
  transition:0.4s;
  padding:5px 25px;
}
.menu a:hover{
  text-decoration:none;
  color:#999;
  background-color:#FFF;
  transition:0.4s;
}

#conteneur-home{
  width:100%;
  background:url(https://images.pexels.com/photos/2832767/pexels-photo-2832767.jpeg) fixed 100% no-repeat;
  background-size:cover;
  padding:159.5px 0px 100px 0px;
  text-align:center;
}
.home{
  width:100%;
}
.home h1{
  font-weight:100;
  font-size:50px;
  color:#EEE;
  padding:0px 0px 5px 0px;
}
.home h2{
  font-weight:100;
  font-size:30px;
  color:#DDD;
  text-transform:uppercase;
}

#conteneur-about{
  padding:100px 0px;
}
.about{
  max-width:960px;
  width:100%;
  margin:auto;
}
.profil-photo{
  width:50%;
  float:left;
}
.profil-photo img{
  width:90%;
}
.profil-text{
  width:50%;
  float:left;
  position:relative;
}
.profil-text h2{
  padding-bottom:15px;
  font-size:25px;
  font-weight:100;
  text-transform:uppercase;
}
.profil-text p{
padding-bottom:75px;
padding-right:20px;
text-align:justify;
}
.profil-text a{
  position:absolute;
  bottom:0px;
  left:0px;
  text-decoration:none;
  color:black;
  background-color:#DDD;
  transition:0.4s;
  padding:5px 25px;
  border:1px solid white;
}
.profil-text a:hover{
  text-decoration:none;
  color:#999;
  border:1px solid #999;
  background-color:#FFF;
  transition:0.4s;
}

#conteneur-portfolio{
  padding:100px 0px;
  background-color:#EEE;
}
.portfolio{
  max-width:960px;
  width:100%;
  margin:auto;
  text-align:center;
}
.portfolio h2{
  padding-bottom:50px;
  font-size:25px;
  font-weight:100;
  text-transform:uppercase;
}
.conteneur-portfolio h2{
  padding-bottom:100px;
  font-size:80px;
  color:#000;
  text-align:center;
}
.conteneur-miniature-left{
  box-shadow:0 0 20px 1px rgba(0,0,0,0.25);
  transition:.4s;
  width:47.5%;
  margin-right:2.5%;
  float:left;
}
.conteneur-miniature-right{
  box-shadow:0 0 20px 1px rgba(0,0,0,0.25);
  transition:.4s;
  width:47.5%;
  margin-left:2.5%;
  float:left;
}
.miniature-portfolio{
  width:100%;
  height:250px;
}
.oneport{      background:url(https://64.media.tumblr.com/56dfc513aeccd546772526b86c486cf1/tumblr_oywgvka4hk1qly6cno1_1280.pnj);
  background-size:cover;
  background-position:center;
}
.twoport{
  background:url(https://img1.wsimg.com/isteam/ip/7c70ad14-8f47-4f92-8fc9-969ed986407e/Screenshot_20220614-093406_Instagram.jpg);
  background-size:cover;
  background-position:center;
}
.text-miniature{
  padding:15px 30px 15px 15px;
}
.text-miniature h3{
  font-size:25px;
  padding-bottom:10px;
  font-weight:100;
}
.text-miniature h4{
  font-size:18px;
  color:#666;
  line-height:25px;
  font-weight:100;
}
.text-miniature h5{
  font-size:15px;
  color:#999;
  line-height:20px;
  font-weight:100;
}

.conteneur-miniature-one:hover{
  box-shadow:0 0 20px 1px rgba(0,0,0,0.75);
  transition:.4s;
}




* {
    box-sizing: border-box;
}
body {
    background-color: #ecf0f1;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: .85;
    cursor: pointer;
}
.gallery-item:hover {
    opacity: 1;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-content {
    font-size: .8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;              
    overflow: auto;
    top: 0;
    left: 0;
}
.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
}
.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 7px;
    top: 45%;
    cursor: pointer;
}
.lightbox-prev {
    left: 0;
}
.lightbox-next {
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}



@media (max-width: 960px) {
    .profil-photo{
        margi-leftn:20px;
    }
    .profil-text p{
        font-size: 22px;
    }  
}



@media (max-width: 720px) {
    .gallery-container {
        width: 100%;
    }
    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
    .profil-photo{
        margi-leftn:20px;
    }
    .profil-text p{
        font-size: 22px;
    }  
}


@media (max-width: 540px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
    .profil-photo{
        margi-leftn:20px;
    }
    .profil-text p{
        font-size: 22px;
    }
}



#conteneur-contact{
  padding:60px 0px;
  background:url(https://www.lowes.ca/-/media/lowes/images/ideas-how-tos/ideas%20and%20inspiration/before%20and%20after%20classic%20white%20annuals%20and%20perennials/ct18-image5-1015x571.jpg?h=571&w=1015&la=en-CA&hash=5FF055F97ACF67A8F40F0AB999301C362F22C7C2) fixed 100% no-repeat;
  background-size:cover;
}
.contact{
  max-width:660px;
  width:100%;
  margin:auto;
  text-align:center;
}
.contact h2{
  font-size:25px;
  font-weight: bolder;
  text-transform:uppercase;
  color:#1F2021;
}

#conteneur-footer{
  padding:10px 0px;
  background-color:#000;
  color:#FFF;
  text-align:center;
}
.footer a{
  color:#FFF;
  text-decoration:none;
  padding-top:50px;
  transition:0.4s;
}
.footer a:hover{
  color:#DDD;
  text-decoration:none;
  transition:0.4s;
}
