#conteneur-contact{
   padding:60px 0px;
   background:url(https://www.lowes.ca/-/media/lowes/images/ideas-how-tos/ideas%20and%20inspiration/before%20and%20after%20classic%20white%20annuals%20and%20perennials/ct18-image5-1015x571.jpg?h=571&w=1015&la=en-CA&hash=5FF055F97ACF67A8F40F0AB999301C362F22C7C2) fixed 100% no-repeat;
   background-size:cover;
}
.contact{
   max-width:660px;
   width:100%;
   margin:auto;
   text-align:center;
}
.contact h2{
   font-size:25px;
   font-weight: bolder;
   text-transform:uppercase;
   color:#1F2021;
}